<!doctype html>
<html lang="en-us">
​

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gogogaga_page03</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="plotly-latest.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
​
​

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="neon">
                    <span class="text" data-text="Playlist Analysis">Playlist Analysis</span>
                    <span class="gradient"></span>
                    <span class="spotlight"></span>
                </div>>
                <div class="text_header">
                    <span class="text_header">Track Analysis</span><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6-md">
                <div id="bar"></div>
            </div>
            <p> Some information here regarding number of tracks by year released.</p>
        </div>
        <br>
            <div class="col-6-md">
                <div id="donut"></div>
            </div>
        
    </div>
    <br>
    <br>
    <br>

          

  


    <!-- <div id="footer">
        <p>the Ladies of gogoGAGA Records are AP, JL, and LG copyright 2021</p>

    </div> -->

    <script type="text/javascript" src="app.js"></script>
    <script src="allisonapp.js"></script>
</body>

​

</html>